*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px 22px;
}

.navigation {
  margin-left: auto;
}

.logo {
  color: #000;
  text-align: center;
 
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.login {
  background-color: white;
  color: #000;
  text-align: center;
  
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  cursor: pointer;
  width: 180px;
  height: 69px;
}

.signup {
  background-color: #dcdcdc;
  color: #000;
  text-align: center;
 
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  width: 180px;
  height: 69px;
}

.main {
  display: flex;
}
.center {
  display: flex;
  margin: 0 auto;
  gap: 100px;
}

.main-container {
  padding: 50px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: #1c1c1c;
 
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  color: #1c1c1c;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

.form-input {
  display: block;
  width: 373.677px;
  height: 52px;
  flex-shrink: 0;
  padding-left: 42px;
  border-radius: 4px;
  cursor: text;
  border-radius: 13px;
  background: #f2f2f2;
  border: 0;
  margin-bottom: 24px;
}

.input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.form-input {
  padding-left: 40px;
  width: 373.677px;
  height: 52px;
}

.input-icon {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 24.638px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.submit {
  border-radius: 13px;
  background: #1c1c1c;
  color: white;
  width: 373.677px;
  height: 52px;
  cursor: pointer;
}
