*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #F1F1F1;
}

.container {
    display: flex;
    height: 100vh;
}

.nav-section {
    flex: 1;
    padding: 20px 30px;
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

.nav-link {
    display: flex;  
    text-decoration: none;
    color: #555;
    align-items: center;  
    gap: 10px; 
    font-weight: bold;
}

.nav-link:hover {
    color: black;
}

.icon-placeholder {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #CCC;  
    border-radius: 4px;  
}




.container1{
    width: 100%;
    min-height: 100vh;
    padding: 15px 10px;
    max-width: -500px;
   

}
.todo-app{
    width: 100%;
   
    background-color: #fff;
    padding: 20px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}
.app-title{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.app-title h2, .app-title i{
    color: #555;
}
.app-title i{
    font-size: 26px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 10px;
}
input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 15px;
    padding-left: 20px;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #3a3d3b;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}
button:hover{
    filter: brightness(.8);
}

@media screen and (max-width: 400px) {
    button{
        padding: 15px;
        border-radius: 0 30px 30px 0;
    }
}

ul{
    list-style: none;
}
ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-top: 1px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 0;
    border: 2px solid #292727;
}
ul .checked{
    color: #555;
    text-decoration: line-through;
}
ul .checked::before{
    background-color: #626663;
}
span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 18px;
    transition: all .2s ease;
}
span:hover{
    background-color: #c9c9c9;
    color: #fff;
}
